@value primaryColor, secondaryColor, borderColor, primaryBgColor from '../../styles/colors.css';

.settings {
  padding: 8px 16px 16px 16px;
}

.title {
  font-size: 24px;
  margin: 0 auto 24px auto;
  padding-bottom: 8px;
  border-bottom: 1px solid borderColor;
}

.header {
  font-size: 18px;
  text-align: left;
  padding-bottom: 8px;
  border-bottom: 1px solid borderColor;
}

.inputRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6px;
}

.textInput {
  border: none;
  border-radius: 25px;
  color: primaryBgColor;
  display: inline-block;
  height: 18px;
  outline: none;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.inputLabel {
  color: secondaryColor;
  display: inline-block;
  text-align: left;
}

.backIcon {
  position: fixed;
  left: 16px;
}

.backIcon svg {
  fill: secondaryColor;
  transition: all .1s ease-in-out;
  width: 22px;
}

.backIcon svg:hover {
  fill: primaryColor;
}
