@value primaryColor, secondaryColor from '../../styles/colors.css';
@value borderColor: rgba(255, 255, 255, 0.1);

.settings {
  padding: 16px;
}

.title {
  font-size: 24px;
  margin: 0 auto 24px auto;
  padding-bottom: 8px;
  border-bottom: 1px solid borderColor;
}

.header {
  font-size: 18px;
  text-align: left;
  padding-bottom: 8px;
  border-bottom: 1px solid borderColor;
}

.inputRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.textInput {
  border: none;
  display: inline-block;
  outline: none;
  text-align: left;
}

.inputLabel {
  color: secondaryColor;
  display: inline-block;
  text-align: left;
}

.backIcon {
  position: fixed;
  left: 16px;
}

.backIcon svg {
  fill: secondaryColor;
  transition: all .1s ease-in-out;
  width: 22px;
}

.backIcon svg:hover {
  fill: primaryColor;
}
