@value primaryColor, secondaryColor from '../../styles/colors.css';

.nowPlaying {
  text-align: left;
}

.row {
  font-size: 14px;
  margin: 2px;
  color: secondaryColor;
}

.row:first-of-type {
  margin: 0 auto 2px auto;
}

.row:last-of-type {
  margin: 2px auto 0 auto;
}

.info {
  margin: 16px 0 0 0;
}

.albumArt {
  width: 100%;
}

.track {
  composes: row;
  color: primaryColor;
  font-size: 18px;
}

.album {
  composes: row;
}

.artist {
  composes: row;
}
