@import 'normalize.css';

@value primaryColor, primaryBgColor from './colors.css';

:global html {
  height: 100%;
}

:global body {
  background-color: primaryBgColor;
  color: primaryColor;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  -webkit-app-region: drag;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
}

:global #root {
  height: 100%;
}
