@import 'normalize.css';

@value primaryColor, primaryBgColor from './colors.css';

:global body {
  background-color: primaryBgColor;
  color: primaryColor;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-app-region: drag;
  user-select: none;
}
