@value primaryColor, secondaryColor, borderColor from '../../styles/colors.css';

.player {
  padding: 0 16px;
}

.settingsIcon {
  position: fixed;
  right: 16px;
}

.settingsIcon svg {
  fill: secondaryColor;
  width: 22px;
  position: relative;
  top: 1px;
  transition: all .1s ease-in-out;
}

.settingsIcon svg:hover {
  fill: primaryColor;
}
