@value lightGradientBgColor, darkGradientBgColor from '../../styles/colors.css';

.app {
  height: 100%;
  background-image: linear-gradient(lightGradientBgColor, darkGradientBgColor  85%);
  letter-spacing: .015em;
  font-size: 14px;
  text-align: center;
}
